{% load static %}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 mx-auto">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Note</h6>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_name" class="col-sm-3 col-form-label">Назва:</label>
                        <div class="col-sm-9">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_description" class="col-sm-3 col-form-label">Опис:</label>
                        <div class="col-sm-9">
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_tags" class="col-sm-3 col-form-label">Тег:</label>
                        <div class="col-sm-9">
                            <label>
                                <select name="tags" multiple>
                                    {% for tag in user_tags %}
                                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-sm btn-primary px-5 me-2">Save</button>
                        <button type="reset" class="btn btn-sm btn-primary px-5">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>