{% load static %}

    <!-- Content wrapper scroll start -->


    <!-- Content wrapper start -->
    <div class="content-wrapper">

            <!-- Row start -->
        <div class="row gx-3">
            <div class="col-sm-12 col-12">

                <!-- Card start -->
                <div class="card">
                    <div class="card-header">
                      <div class="card-title">Data Contacts</div>
                      <button id="addButton" class="btn btn-sm nav-link" style="width: 150px;">Add contact</button>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table id="highlightRowColumn" class="table custom-table">
                          <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Birthday</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                           {% for contact in contacts %}
                          <tr>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.phone_number }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.address }}</td>
                                <td>{{ contact.birthday | date:"d.m.Y" }}</td>
                                <td>{{ contact.note }}</td>
                                <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'contacts:edit_contact' contact.id %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'contacts:delete_contact' contact.id %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </div>
                              </td>
                             </tr>
                           {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
                  <!-- Card end -->



    </div>

    <script>
        document.getElementById('editButton').addEventListener('click', function() {
          // Тут ви можете задати URL для сторінки редагування
          var editUrl = '{% url "contacts:contact_list"%}';
          // Перенаправлення на сторінку редагування
          window.location.href = editUrl;
        });
      </script>

    <script>
      document.getElementById('addButton').addEventListener('click', function() {
        // Тут ви можете задати URL для сторінки додавання контакту
        var addUrl = '{% url "contacts:create" %}';
        // Перенаправлення на сторінку додавання контакту
        window.location.href = addUrl;
      });

      // Додавання ефекту ховеру
      document.getElementById('addButton').addEventListener('mouseenter', function() {
          this.style.backgroundColor = 'lightblue';
      });

      document.getElementById('addButton').addEventListener('mouseleave', function() {
          this.style.backgroundColor = ''; // Повертаємо колір фону до звичайного
      });
    </script>
    