{% load static %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6  mx-auto">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Contact deleted "Name"</h6>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Birthday</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.phone_number }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.address }}</td>
                                <td>{{ contact.birthday | date:"d.m.Y" }}</td>
                                <td>{{ contact.note }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>