{% load static %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6  mx-auto">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Contact change "Name"</h6>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Birthday</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>34523456346</td>
                                <td>Edinb@urgh</td>
                                <td>UK</td>
                                <td>2011/04/25</td>
                                <td>qweqw</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>