{% load static %}

    <!-- Content wrapper scroll start -->


    <!-- Content wrapper start -->
    <div class="content-wrapper">

            <!-- Row start -->
        <div class="row gx-3">
            <div class="col-sm-12 col-12">                
              
                <!-- Card start -->
                <div class="card">
                    <div class="card-header">
                      <div class="card-title">Data Contacts</div>
                      <button id="addButton" class="btn btn-sm nav-link" style="width: 150px;">Add contact</button>
                    </div>                    
                    <div class="card-body">
                      <div class="table-responsive">
                        <table id="highlightRowColumn" class="table custom-table">
                          <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Birthday</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Aiger Nixon</td>
                                <td>+34523456346</td>
                                <td>Edinb@urg.h</td>
                                <td>UK</td>
                                <td>2011/04/25</td>
                                <td>qwsadaceqw</td>
                                <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </div>
                              </td>                           
                            <tr>
                              <td>Garrett Winters</td>
                              <td>21123441341</td>
                              <td>TokQ@yo</td>
                              <td>USA</td>
                              <td>2011/07/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </div>
                              </td>   
                            </tr>
                            
                            <tr>
                              <td>Ashton Cox</td>
                              <td>34523456346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </div>
                                </td>                           
                            </tr>
                            <tr>
                              <td>Cedric Kelly</td>
                              <td>34523456346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>                           
                            </tr>
                            <tr>
                              <td>Airi Satou</td>
                              <td>31212356346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>                           
                            </tr>
                            <tr>
                              <td>Brielle Williamson</td>
                              <td>34523456346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>                           
                            </tr>
                            <tr>
                              <td>Herrod Chandler</td>
                              <td>34523456346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>                           
                            </tr>
                            <tr>
                              <td>Rhona Davidson</td>
                              <td>34523456346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>                           
                            </tr>
                            <tr>
                              <td>Colleen Hurst</td>
                              <td>34523456346</td>
                              <td>E2223dinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>                           
                            </tr>
                            <tr>
                              <td>Sonya Frost</td>
                              <td>34523456346</td>
                              <td>Edinb@urgh</td>
                              <td>UK</td>
                              <td>2011/04/25</td>
                              <td>qweqw</td>
                              <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                    </a>
                                    <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                    <i class="bi bi-trash text-danger"></i>
                                    </a>
                                  </div>                              </td>
                              <tr>
                                <td>Sonya Frost</td>
                                <td>34523456346</td>
                                <td>Edinb@urgh</td>
                                <td>UK</td>
                                <td>2011/04/25</td>
                                <td>qweqw</td>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{% url 'comander:change' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                        <i class="bi bi-pencil text-success"></i>
                                        </a>
                                        <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                                        <i class="bi bi-trash text-danger"></i>
                                        </a>
                                      </div>                                </td>                           
                             
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
                  <!-- Card end -->



    </div> 

    <script>
        document.getElementById('editButton').addEventListener('click', function() {
          // Тут ви можете задати URL для сторінки редагування
          var editUrl = 'edit_page.html';
          // Перенаправлення на сторінку редагування
          window.location.href = editUrl;
        });
      </script>

    <script>
      document.getElementById('addButton').addEventListener('click', function() {
        // Тут ви можете задати URL для сторінки додавання контакту
        var addUrl = '{% url "comander:add" %}';
        // Перенаправлення на сторінку додавання контакту
        window.location.href = addUrl;
      });

      // Додавання ефекту ховеру
      document.getElementById('addButton').addEventListener('mouseenter', function() {
          this.style.backgroundColor = 'lightblue';
      });

      document.getElementById('addButton').addEventListener('mouseleave', function() {
          this.style.backgroundColor = ''; // Повертаємо колір фону до звичайного
      });
    </script>
    