{% load static %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6  mx-auto">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">File "Name" upload </h6>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Expansion</th>
                                <th>Date</th>
                            <tr>
                                <td>som3</td>
                                <td>mp3</td>
                                <td>1991/04/25</td>
                            </tr>
                        </thead>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>