{% load static %}

    <!-- Content wrapper scroll start -->


    <!-- Content wrapper start -->
    <div class="content-wrapper">

            <!-- Row start -->
        <div class="row gx-3">
            <div class="col-sm-12 col-12">                

                <!-- Card start -->
                <div class="card">
                    <div class="card-header">
                      <div class="card-title">Data Notes</div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table id="highlightRowColumn" class="table custom-table">
                            <thead>
                                <tr>
                                    <th>#tag</th>
                                    <th>Note</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Dvcxvxc ger</td>
                                    <td>fsefijsvcdsgogz ig jiofsjgiojig fgfdg  r  rgtr g g</td>
                                    <td>2011/04/25</td>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="{% url 'comander:change_note' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                            <i class="bi bi-pencil text-success"></i>
                                            </a>
                                            <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted Done">
                                            <i class="bi bi-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>                           
                                <tr>
                                    
                                    <td>Qweiger</td>
                                    <td>fseeqweqwe  dsv svcklgjldsf wg w gsg s gsgewtwefijsog ig jiofsjgiojig fgfdg  r  rgtr g g</td>
                                    <td>2011/04/25</td>
                                    <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{% url 'comander:change_note' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                        <i class="bi bi-pencil text-success"></i>
                                        </a>
                                        <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted Done">
                                        <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </div>
                                </td>   
                                </tr>
                                
                                <tr>
                                    <td>Acvcvfgr</td>
                                    <td>fsefijsog ig jiofsjgiojig fgfdg  r  rgtr g g</td>
                                    <td>2011/04/25</td>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="{% url 'comander:change_note' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                            <i class="bi bi-pencil text-success"></i>
                                            </a>
                                            <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted Done">
                                            <i class="bi bi-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>                           
                                </tr>

                                <tr>
                                    <td>GSSSAsdiger</td>
                                    <td>fsadasf afsefqt4etijsog ig jiofsjgiojig fgfdg  r  rgtr g g</td>
                                    <td>2011/04/25</td>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="{% url 'comander:change_note' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                            <i class="bi bi-pencil text-success"></i>
                                            </a>
                                            <a href="{% url 'comander:deleted_done' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted Done">
                                            <i class="bi bi-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>                         
                                </tr>

                                <tr>
                                    <td>ADSfdfAiger</td>
                                    <td>fsefijsfsgdfg s eroktgepro optkg pdfogk ;lffagosaogp kseropgerospgtdfsdfog ig jiofsjgiojig fgf dgf <br>dg fsafgf gf gs ffd  r  rgtr g g</td>
                                    <td>2021/04/25</td>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="{% url 'comander:change_note' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                            <i class="bi bi-pencil text-success"></i>
                                            </a>
                                            <a href="{% url 'comander:delete' %}" class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted Done">
                                            <i class="bi bi-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>                           
                                </tr>                            
                              
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
                  <!-- Card end -->
    </div>
 

    <script>
        document.getElementById('editButton').addEventListener('click', function() {
          // Тут ви можете задати URL для сторінки редагування
          var editUrl = 'edit_page.html';
          // Перенаправлення на сторінку редагування
          window.location.href = editUrl;
        });
      </script>