{% load static %}

<!-- Content wrapper scroll start -->
<!-- Content wrapper start -->
<div class="content-wrapper">

  <!-- Row start -->
  <div class="row gx-3">
    <div class="col-sm-12 col-12">

      <!-- Card start -->
      <div class="card">
        <div class="card-header">
          <div class="card-title">File List</div>
          <button id="addButton" class="btn btn-sm nav-link" style="width: 150px;">Add File</button>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table id="highlightRowColumn" class="table custom-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Expansion</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>

                {% for file in files %}
                  <tr>
                    <td>{{ file.original_filename }}</td>
                    <td>category.name</td>
                    <td>1991/04/25</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'comander:change_file' %}" class="btn btn-icon btn-sm btn-unstyled"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                          <i class="bi bi-pencil text-success"></i>
                        </a>
                        <a href="{% url 'comander:deleted_file_done' %}" class="btn btn-icon btn-sm btn-unstyled"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                          <i class="bi bi-trash text-danger"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}

              </tbody>

            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Card end -->


<script>
    document.getElementById('editButton').addEventListener('click', function () {
        // Тут ви можете задати URL для сторінки редагування
        var editUrl = 'edit_page.html';
        // Перенаправлення на сторінку редагування
        window.location.href = editUrl;
    });
</script>


<script>
    document.getElementById('addButton').addEventListener('click', function () {
        // Тут ви можете задати URL для сторінки додавання контакту
        var addUrl = '{% url "comander:download" %}';
        // Перенаправлення на сторінку додавання контакту
        window.location.href = addUrl;
    });

    // Додавання ефекту ховеру
    document.getElementById('addButton').addEventListener('mouseenter', function () {
        this.style.backgroundColor = 'lightblue';
    });

    document.getElementById('addButton').addEventListener('mouseleave', function () {
        this.style.backgroundColor = ''; // Повертаємо колір фону до звичайного
    });
</script>