{% load static %}
<div class="content-wrapper ">
    <div class="row gx-3">
        <div class="col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Data Contacts</div>
                    <div class="d-flex justify-content-end align-items-center">
                        <input id="searchInput" type="text" class="form-control me-2" placeholder="Search...">
                        <button id="searchButton" class="btn btn-sm nav-link me-2">Search by birthday</button>
                        <button id="addButton" class="btn btn-sm nav-link">Add contact</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="highlightRowColumn" class="table custom-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Birthday</th>
                                    <th>Notes</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact.name }}</td>
                                    <td>{{ contact.phone_number }}</td>
                                    <td>{{ contact.email }}</td>
                                    <td>{{ contact.address }}</td>
                                    <td>{{ contact.birthday | date:"d.m.Y" }}</td>
                                    <td>{{ contact.note }}</td>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="{% url 'contacts:edit_contact' contact.id %}"
                                                class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary"
                                                data-bs-title="Edit">
                                                <i class="bi bi-pencil text-success"></i>
                                            </a>
                                            <a href="{% url 'contacts:delete_contact' contact.id %}"
                                                class="btn btn-icon btn-sm btn-unstyled" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-custom-class="custom-tooltip-success"
                                                data-bs-title="Deleted">
                                                <i class="bi bi-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    document.getElementById('editButton').addEventListener('click', function () {
        var editUrl = 'comander/edit_contact';
        window.location.href = editUrl;
    });
</script>

<script>
    document.getElementById('addButton').addEventListener('click', function () {
        var addUrl = '{% url "contacts:create"%}';
        window.location.href = addUrl;
    });


    document.getElementById('addButton').addEventListener('mouseenter', function () {
        this.style.backgroundColor = 'lightblue';
    });

    document.getElementById('addButton').addEventListener('mouseleave', function () {
        this.style.backgroundColor = '';
    });
</script>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        var daysUntilBirthday = document.getElementById('searchInput').value;
        var addUrl = '{% url "contacts:contacts_with_birthday" %}?days_until_birthday=' + daysUntilBirthday;
        window.location.href = addUrl;
    });

    document.getElementById('searchButton').addEventListener('mouseenter', function () {
        this.style.backgroundColor = 'lightblue';
    });

    document.getElementById('searchButton').addEventListener('mouseleave', function () {
        this.style.backgroundColor = '';
    });

</script>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        var searchValue = document.getElementById('searchInput').value;
    });
</script>