{% load static %}
<div class="container-fluid bg-dark text-white-50 footer" style="padding-top: 20px;">
    <div class="container" style="padding-bottom: 0;">
        <div class="row g-5 align-items-center">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="{% url 'home:home' %}" class="d-inline-block mb-3">
                    <h1 class="text-white responsive-heading">Fox<span class="text-primary">.</span>Web<span
                            class="text-primary">.</span>Assistant
                    </h1>
                </a>
            </div>
            <div class="col-lg-3 text-lg-end">
                <img class="img-fluid" src="{% static 'img/feature.png' %}" alt="" style="max-height: 100px;">
            </div>
            <div class="col-lg-6 text-lg-end">
                <div id="minfin-informer-m1Fn-nbu">Завантажуємо <a href="https://minfin.com.ua/ua/currency/"
                        target="_blank">курси валют</a> від minfin.com.ua</a></div>
                <script>var iframe = '<ifra' + 'me width="100" height="42" fram' + 'eborder="0" src="https://informer.minfin.com.ua/ua/gen/nbu/?color=grey" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:100px;height:42px;ove' + 'rflow:hidden;"></iframe>'; var cl = 'minfin-informer-m1Fn-nbu'; document.getElementById(cl).innerHTML = iframe; </script>
                <noscript><img src="https://informer.minfin.com.ua/gen/img.png" width="1" height="1"
                        alt="minfin.com.ua: курси валют" title="Курс валют" border="0" /></noscript>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://goit.global/ua/">GoiT</a>, Full Stack Python Developer

                </div>
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-3">
                    <a class="border-bottom" href="{% url 'home:presentation_of_the_project' %}" style="margin-right: 20px;">Presentation of the project</a>
                    <a class="border-bottom" href="{% url 'home:privacy_policy' %}" style="margin-right: 20px;">Privacy Policy</a>
                    <a class="border-bottom" href="https://it-school-goit.github.io/FinalProjectGoitWeb/" class="nav-item nav-link" target="_blank">Documentation</a>
                </div>
            </div>
            
        </div>
    </div>
</div>