{% load static %}
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight responsive-heading">{{ title }}</h1>
                    <nav aria-label="breadcrumb">
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero2-img.png' %}" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>