{% load static %}
<div class="container-fluid sticky-top" style="background-color: var(--primary);">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      {% if user.is_authenticated %}
      <div class="navbar-brand">
        <a target="_blank" href="https://hotelmix.com.ua/weather/kyiv-18881">
          <img
            src="https://w.bookcdn.com/weather/picture/5_18881_1_29_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=70241&domid=966&anc_id=35493"
            alt="booked.net" style="padding: 0; margin: 0;">
        </a>
      </div>
      {% endif %}
      <a href="{% url 'home:home' %}" class="navbar-brand">
        <h1 class="text-white m-0 responsive-heading">Fox<span class="text-dark">.</span>Web<span
            class="text-dark">.</span>Assistant
        </h1>
      </a>
      <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <a href="{% url 'home:home' %}" class="nav-item nav-link active">Home</a>
          <a href="{% url 'team:team' %}" class="nav-item nav-link">Team</a>
          <a href="/exchange/currency/" class="nav-item nav-link" style="white-space: nowrap;">Exchange rate</a>
          <a href="/parsing/news/" class="nav-item nav-link">News</a>
          {% if user.is_authenticated %}
          <a href="https://it-school-goit.github.io/FinalProjectGoitWeb/" class="nav-item nav-link"
            target="_blank">Documentation</a>
          <a href="{% url 'contacts:contact_list' %}" class="nav-item nav-link" style="white-space: nowrap;">Data
            Contacts</a>
          <a href="{% url 'account_logout' %}" class="nav-item nav-link">Logout</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="nav-item nav-link">SignUp</a>
          <a href="{% url 'account_login' %}" class="nav-item nav-link">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</div>