{% load static %}
<div class="container-fluid bg-primary newsletter py-0">
    <div class="row g-5 align-items-center justify-content-center ">
        <div class="col-md-3 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn " data-wow-delay="0.3s">
            <img class="img-fluid " src="{% static 'img/newsletter2.png' %}" alt="">
        </div>
        <div class="col-md-4 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s" style="padding: 48px 15px;">
            <h1 class="text-white mb-4 text-center responsive-heading">Для завантаження та розгортання <span
                    class="text-dark">Assistant</span> самостійно</h1>
            <div class="position-relative w-100 mt-3 mb-2 responsive-heading">
                <a href="https://github.com/IT-School-GoIT/FinalProjectGoitWeb" download="your_file_name.ext"
                    class="btn btn-info rounded-pill btn-lg" target="_blank">
                    Завантажити Fox.Bot.Assistant з Github
                </a>
            </div>
            <small class="text-white-50">Fox.Web.</small>
        </div>
        <div class="col-md-3 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/newsletter3.png' %}" alt="">
        </div>
    </div>
</div>