{% load static %}

<div class="container-xxl py-5  responsive-heading">
    <h3 class="mb-4 text-left">ЗАГАЛЬНІ ПОЛОЖЕННЯ:</h3>
    <p class="mb-4 text-left">1.0. Дана політика обробки персональних даних складена на підставі Конституції
        України і Закону України "Про захист персональних даних" від 01.06.2010 р №2297-VI (далі - Закон), а
        також Генерального регламенту про захист даних (ЄС) 2016/679 від 27.04 .2016 р (EU General Data
        Protection Regulation, далі - GDPR) і іншого застосовного Європейського законодавства про захист
        даних, спільно іменоване далі - Законодавство, і визначає порядок обробки персональних даних та
        заходи щодо забезпечення безпеки персональних даних, що здійснюються
        <br>final-project-goit-web-antonbabenko.koyeb.app
        (далі - Оператор).<br>
        1.1. Оператор ставить своєю важливою ціллю і умовою здійснення своєї діяльності дотримання прав і
        свобод людини та громадянина при обробці його персональних даних, в тому числі захисту прав на
        недоторканність приватного життя, особисту і сімейну таємницю.<br>
        1.2. Дана політика Оператора щодо обробки персональних даних (далі - Політика) застосовується до
        всієї інформації, яку Оператор може отримати про відвідувачів веб-сайту
        <br>final-project-goit-web-antonbabenko.koyeb.app
    </p>
    <h3 class="mb-4 text-left">ОСНОВНІ ПОНЯТТЯ, ЩО ВИКОРИСТОВУЮТЬСЯ В ПОЛІТИЦІ</h3>
    <p class="mb-4 text-left">2.0. Автоматизована обробка персональних даних - обробка персональних даних за
        допомогою засобів обчислювальної техніки;<br>
        2.1. Блокування персональних даних - тимчасове припинення обробки персональних даних (за винятком
        випадків, якщо обробка необхідна для уточнення персональних даних);<br>
        2.2. Веб-сайт - сукупність графічних і інформаційних матеріалів, а також програм для ЕОМ і баз
        даних, що забезпечують їх доступність в мережі інтернет за мережевою адресою
        <br>final-project-goit-web-antonbabenko.koyeb.app<br>
        2.3. Інформаційна система персональних даних - сукупність персональних даних, що містяться в базах
        даних, та інформаційні технології і технічні засоби, які забезпечують їх обробку;<br>
        2.4. Знеособлення персональних даних - дії, в результаті яких неможливо визначити без використання
        додаткової інформації приналежність персональних даних конкретному Користувачеві чи іншому суб'єкту
        персональних даних;<br>
        2.5. Обробка персональних даних - будь-яка дія (операція) або сукупність дій (операцій), що
        здійснюються з використанням засобів автоматизації або без використання таких засобів з
        персональними даними, включаючи збір, запис, систематизацію, накопичення, зберігання, уточнення
        (оновлення, зміна), витяг, використання, передачу (поширення, надання, доступ), знеособлення,
        блокування, видалення, знищення персональних даних;<br>
        2.6. Оператор - державний орган, муніципальний орган, юридична чи фізична особа, яка самостійно або
        спільно з іншими особами організують і (або) здійснюють обробку персональних даних, а також
        визначають цілі обробки персональних даних, склад персональних даних, що підлягають обробці, дії
        (операції), що здійснюються з персональними даними;<br>
        2.7. Персональні дані - будь-яка інформація, що відноситься прямо або побічно до певного або
        визначається Користувачеві веб-сайту final-project-goit-web-antonbabenko.koyeb.app;<br>
        2.8. Користувач - будь-який відвідувач веб-сайту final-project-goit-web-antonbabenko.koyeb.app<br>
        2.9. Надання персональних даних - дії, спрямовані на розкриття персональних даних певній особі або
        певного кола осіб;<br>
        2.10. Поширення персональних даних - будь-які дії, спрямовані на розкриття персональних даних
        невизначеному колу осіб (передача персональних даних) або на ознайомлення з персональними даними
        необмеженого кола осіб, в тому числі оприлюднення персональних даних в засобах масової інформації,
        розміщення в інформаційно-телекомунікаційних мережах або надання доступу до персональних даних
        будь-яким іншим способом;
        2.11. Транскордонна передача персональних даних - передача персональних даних на територію іноземної
        держави органу влади іноземної держави, іноземної фізичній або іноземній юридичній особі;<br>
        2.12. Знищення персональних даних - будь-які дії, в результаті яких персональні дані знищуються
        безповоротно з неможливістю подальшого відновлення змісту персональних даних в інформаційній системі
        персональних даних і (або) знищуються матеріальні носії персональних даних.
    </p>
    <h3 class="mb-4 text-left">ОПЕРАТОР МОЖЕ ОБРОБЛЯТИ ТАКІ ПЕРСОНАЛЬНІ ДАНІ КОРИСТУВАЧА</h3>
    <p class="mb-4 text-left">3.0. Прізвище ім'я по батькові;<br>
        3.1. Електронна адреса;<br>
        3.2. Номери телефонів;<br>
        3.3. Фотографії;<br>
        3.4. Адреса фактичного місця проживання та реєстрації за місцем проживання і (або) за місцем
        перебування;<br>
        3.5. Також на сайті відбувається збір і обробка знеособлених даних про відвідувачів (в т.ч. файлів
        «cookie») за допомогою сервісів інтернет-статистики (Яндекс Метрика і Гугл Аналітика та інших).<br>
        3.8. Перераховані вище дані далі по тексту Політики об'єднані загальним поняттям Персональні дані.
    </p>
    <h3 class="mb-4 text-left">ЦІЛІ ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ</h3>
    <p class="mb-4 text-left">4.0. Мета обробки персональних даних Користувача - інформування Користувача за
        допомогою відправки електронних листів; укладення, виконання та припинення цивільно-правових
        договорів.<br>
        4.1. Також Оператор має право направляти Користувачеві повідомлення про нові продукти та послуги,
        спеціальні пропозиції та різні події. Користувач завжди може відмовитися від отримання інформаційних
        повідомлень, направивши Оператору лист на адресу електронної пошти
        final-project-goit-web-antonbabenko.koyeb.app з позначкою «Відмова від повідомлень про нові продукти
        і послуги та спеціальні пропозиції».<br>
        4.2. Знеособлені дані користувачів, що збираються за допомогою сервісів інтернет-статистики, служать
        для збору інформації про дії користувачів на сайті, поліпшення якості сайту та його змісту.</p>
    <h3 class="mb-4 text-left">ПРАВОВІ ПІДСТАВИ ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ</h3>
    <p class="mb-4 text-left">5.0. Оператор обробляє персональні дані Користувача тільки в разі їх
        заповнення та / або відправки Користувачем самостійно через спеціальні форми, розташовані на сайті
        <br>final-project-goit-web-antonbabenko.koyeb.app. Заповнюючи відповідні форми і / або відправляючи
        свої персональні дані Оператору, Користувач висловлює свою згоду з цією політикою.<br>
        5.1. Оператор обробляє знеособлені дані про Користувача в разі, якщо це дозволено в настройках
        браузера Користувача (включено збереження файлів «cookie» і використання технології JavaScript).
    </p>
    <h3 class="mb-4 text-left">ПОРЯДОК ЗБОРУ, ЗБЕРІГАННЯ, ПЕРЕДАЧІ ТА ІНШИХ ВИДІВ ОБРОБКИ ПЕРСОНАЛЬНИХ
        ДАНИХ</h3>
    <p class="mb-4 text-left">6.0. Безпека персональних даних, які обробляються Оператором, забезпечується
        шляхом реалізації правових, організаційних і технічних заходів, необхідних для виконання в повному
        обсязі вимог чинного законодавства у сфері захисту персональних даних.<br>
        6.1. Оператор забезпечує збереження персональних даних і вживає всіх можливих заходів, що виключають
        доступ до персональних даних неуповноважених осіб.<br>
        6.2. Персональні дані Користувача ніколи, ні за яких умов не будуть передані третім особам, за
        винятком випадків, пов'язаних з виконанням чинного законодавства.<br>
        6.3. У разі виявлення неточностей в персональних даних, Користувач може актуалізувати їх самостійно,
        шляхом подання відповідного Оператору повідомлення на адресу електронної пошти Оператора
        final-project-goit-web-antonbabenko.koyeb.app з позначкою «Актуалізація персональних даних».<br>
        6.4. Термін обробки персональних даних є необмеженим. Користувач може в будь-який момент відкликати
        свою згоду на обробку персональних даних, направивши Оператору повідомлення за допомогою електронної
        пошти на електронну адресу Оператора final-project-goit-web-antonbabenko.koyeb.app з позначкою
        «Відкликання згоди на обробку персональних даних».</p>
    <h3 class="mb-4 text-left">ТРАНСКОРДОННА ПЕРЕДАЧА ПЕРСОНАЛЬНИХ ДАНИХ</h3>
    <p class="mb-4 text-left">7.0. Оператор до початку здійснення транскордонної передачі персональних даних
        зобов'язаний переконатися в тому, що іноземною державою, на територію якого передбачається
        здійснювати передачу персональних даних, забезпечується надійний захист прав суб'єктів персональних
        даних.<br>
        7.1. Транскордонна передача персональних даних на території іноземних держав, які не відповідають
        зазначеним вище вимогам, може здійснюватися тільки в разі наявності згоди в письмовій формі суб'єкта
        персональних даних на транскордонну передачу його персональних даних та / або виконання договору,
        стороною якого є суб'єкт персональних даних.</p>
    <h3 class="mb-4 text-left">ПРИКІНЦЕВІ ПОЛОЖЕННЯ</h3>
    <p class="mb-4 text-left">8.0. Користувач може отримати будь-які роз'яснення з потрібних питань, що
        стосуються обробки його персональних даних, звернувшись до Оператору за допомогою електронної пошти
        <br>final-project-goit-web-antonbabenko.koyeb.app.<br>
        8.1. В даному документі будуть відображені будь-які зміни політики обробки персональних даних
        Оператором. Політика діє безстроково до заміни її новою версією.<br>
        8.2. Актуальна версія Політики у вільному доступі розташована в мережі Інтернет за адресою
        final-project-goit-web-antonbabenko.koyeb.app.
    </p>
</div>
</div>
</div>
</div>
