{% extends "_layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load widget_tweaks %}

{% block content %}
<div class="login-container">
  <div class="login-box">
    <div class="login-form">
      <a href="{% url 'home:home' %}" class="login-logo d-flex justify-content-center">
        <img src="{% static 'img/favicon.png' %}" alt="Admin Templates" style="display: block;" />
      </a>
      {% if process == "connect" %}
      <h1 class="login-welcome text-center">
        {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
      </h1>
      <p>
        {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{
        provider }}.{% endblocktrans %}
      </p>
      {% else %}
      <h1 class="login-welcome text-center">
        {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
      </h1>
      <p>
        {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{
        provider }}.{% endblocktrans %}
      </p>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="login-form-actions d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" style="height: 50px; line-height: 50px; color: black;">
            {% trans 'Continue' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{#{% extends "socialaccount/base_entrance.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% block head_title %}#}
{# {% trans "Sign In" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{# {% if process == "connect" %}#}
{# {% element h1 %}#}
{# {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}#}
{# {% endelement %}#}
{# <p>#}
  {# {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider
  }}.{% endblocktrans %}#}
  {# </p>#}
{# {% else %}#}
{# {% element h1 %}#}
{# {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}#}
{# {% endelement %}#}
{# <p>#}
  {# {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{
  provider }}.{% endblocktrans %}#}
  {# </p>#}
{# {% endif %}#}
{# {% element form method="post" no_visible_fields=True %}#}
{# {% slot actions %}#}
{# {% csrf_token %}#}
{# {% element button type="submit" %}#}
{# {% trans "Continue" %}#}
{# {% endelement %}#}
{# {% endslot %}#}
{# {% endelement %}#}
{#{% endblock content %}#}