{% extends "_layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load widget_tweaks %}

{% block content %}
  <div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <a href="{% url 'home:home' %}" class="login-logo d-flex justify-content-center">
          <img src="{% static 'img/favicon.png' %}" alt="Admin Templates" style="display: block;"/>
        </a>

        <h1 class="login-welcome text-center">
          {% if token_fail %}
            {% trans "Bad Token" %}
          {% else %}
            {% trans "Change Password" %}
          {% endif %}
        </h1>

        {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
          </p>
        {% else %}
          {% url 'account_reset_password_from_key' as action_url %}
          <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="mb-3">
              {{ form.password1.errors }}
              <label class="form-label" for="{{ form.password1.id_for_label }}">{% trans "New Password" %}</label>
              {{ form.password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              {{ form.password2.errors }}
              <label class="form-label" for="{{ form.password2.id_for_label }}">{% trans "New Password (again)" %}</label>
              {{ form.password2|add_class:"form-control" }}
            </div>
            <div class="login-form-actions d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" style="height: 50px; line-height: 50px; color: black;">
                {% trans 'Change Password' %}
              </button>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{#{% extends "account/base_entrance.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% block head_title %}#}
{#    {% trans "Change Password" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% if token_fail %}#}
{#            {% trans "Bad Token" %}#}
{#        {% else %}#}
{#            {% trans "Change Password" %}#}
{#        {% endif %}#}
{#    {% endelement %}#}
{#    {% if token_fail %}#}
{#        {% url 'account_reset_password' as passwd_reset_url %}#}
{#        <p>#}
{#            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}#}
{#        </p>#}
{#    {% else %}#}
{#        {% element form method="post" action=action_url %}#}
{#            {% slot body %}#}
{#                {% csrf_token %}#}
{#                {{ redirect_field }}#}
{#                {% element fields form=form %}#}
{#                {% endelement %}#}
{#            {% endslot %}#}
{#            {% slot actions %}#}
{#                {% element button type="submit" name="action" %}#}
{#                    {% trans 'Change Password' %}#}
{#                {% endelement %}#}
{#            {% endslot %}#}
{#        {% endelement %}#}
{#    {% endif %}#}
{#{% endblock content %}#}
