{% extends "_layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block content %}
  <div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <a href="{% url 'home:home' %}" class="login-logo d-flex justify-content-center">
          <img src="{% static 'img/favicon.png' %}" alt="Admin Templates" style="display: block;"/>
        </a>

        <h1 class="login-welcome text-center">
          {% trans "Password Reset" %}
        </h1>

        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>
          {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{#{% extends "account/base_entrance.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% load account %}#}
{#{% block head_title %}#}
{#    {% trans "Password Reset" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Password Reset" %}#}
{#    {% endelement %}#}
{#    {% if user.is_authenticated %}#}
{#        {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}
{#    <p>#}
{#        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}#}
{#    </p>#}
{#{% endblock content %}#}
