{% extends "_layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block content %}
  <div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <a href="{% url 'home:home' %}" class="login-logo d-flex justify-content-center">
          <img src="{% static 'img/favicon.png' %}" alt="Admin Templates" style="display: block;"/>
        </a>

        <h1 class="login-welcome text-center">
          {% trans "Change Password" %}
        </h1>

        <p>{% trans 'Your password is now changed.' %}</p>
      </div>
    </div>
  </div>
{% endblock %}

{#{% extends "account/base_entrance.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% block head_title %}#}
{#    {% trans "Change Password" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Change Password" %}#}
{#    {% endelement %}#}
{#    <p>{% trans 'Your password is now changed.' %}</p>#}
{#{% endblock content %}#}
