{% extends "_layouts/base.html" %}
{% load static %}
{% load allauth i18n %}
{% load widget_tweaks %}

{% block content %}
  <div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <a href="{% url 'home:home' %}" class="login-logo d-flex justify-content-center">
          <img src="{% static 'img/favicon.png' %}" alt="Admin Templates" style="display: block;"/>
        </a>

        <h1 class="login-welcome text-center">
          {% trans "Change Password" %}
        </h1>

        {% url 'account_change_password' as action_url %}
        <form method="post" action="{{ action_url }}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="mb-3">
            {{ form.oldpassword.errors }}
            <label class="form-label" for="{{ form.oldpassword.id_for_label }}">{% trans "Current Password" %}</label>
            {{ form.oldpassword|add_class:"form-control" }}
          </div>
          <div class="mb-3">
            {{ form.password1.errors }}
            <label class="form-label" for="{{ form.password1.id_for_label }}">{% trans "New Password" %}</label>
            {{ form.password1|add_class:"form-control" }}
          </div>
          <div class="mb-3">
            {{ form.password2.errors }}
            <label class="form-label" for="{{ form.password2.id_for_label }}">{% trans "New Password (again)" %}</label>
            {{ form.password2|add_class:"form-control" }}
          </div>
          <div class="login-form-actions d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" style="height: 50px; line-height: 50px; color: black;">
              {% trans "Change Password" %}
            </button>
          </div>
          <div class="login-form-footer text-center">
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{#{% extends "account/base_manage_password.html" %}#}
{#{% load allauth i18n %}#}
{#{% block head_title %}#}
{#    {% trans "Change Password" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Change Password" %}#}
{#    {% endelement %}#}
{#    {% url 'account_change_password' as action_url %}#}
{#    {% element form form=form method="post" action=action_url %}#}
{#        {% slot body %}#}
{#            {% csrf_token %}#}
{#            {{ redirect_field }}#}
{#            {% element fields form=form %}#}
{#            {% endelement %}#}
{#        {% endslot %}#}
{#        {% slot actions %}#}
{#            {% element button type="submit" %}#}
{#                {% trans "Change Password" %}#}
{#            {% endelement %}#}
{#            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#        {% endslot %}#}
{#    {% endelement %}#}
{#{% endblock content %}#}
