{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load widget_tweaks %}

{% block content %}

{#  {% include "_layouts/_hero.html" %}#}

  <div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <a href="{% url 'home:home' %}" class="login-logo d-flex justify-content-center">
          <img src="{% static 'img/favicon.png' %}" alt="Admin Templates" style="display: block;"/>
        </a>

        <div class="login-welcome text-center">
          {% trans "Sign Up" %}
        </div>

        {% if not SOCIALACCOUNT_ONLY %}
          {% url 'account_signup' as action_url %}
          <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label" for="{{ form.username.id_for_label }}">Username</label>
              {{ form.username.errors }}
              {{ form.username|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="{{ form.email.id_for_label }}">Email</label>
              {{ form.email.errors }}
              {{ form.email|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="{{ form.password1.id_for_label }}">Password</label>
              {{ form.password1.errors }}
              {{ form.password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="{{ form.password2.id_for_label }}">Password (again)</label>
              {{ form.password2.errors }}
              {{ form.password2|add_class:"form-control" }}
            </div>
            <div class="login-form-actions d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" style="height: 50px; line-height: 50px;">
                <span class="icon"> <i class="bi bi-arrow-right-circle"></i></span>
                <span class="text-dark">{% trans "Sign Up" %}</span>
              </button>
            </div>
            {% if SOCIALACCOUNT_ENABLED %}
              <div class="login-form-actions d-flex justify-content-center">
                <a href="{% provider_login_url 'google' %}" class="btn btn-google" style="height: 50px; line-height: 50px;">
                  <i class="bi bi-google"></i> {% trans "Sign Up with Google" %}
                </a>
              </div>
            {% endif %}
            <div class="login-form-footer text-center">
              <div class="additional-link">
                {% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign in" %}</a>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}