{% extends 'base.html' %}

{% block title %}Note List{% endblock title %}

{% block content %}
    <h1>Список нотаток</h1>

    <!-- Пошук -->
    <form method="GET" action="{% url 'notes:note_list' %}">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="noteQueryInput" class="form-label">Пошук за назвою нотатки:</label>
                    <input type="text" class="form-control" id="noteQueryInput" name="note_query"
                           placeholder="Введіть назву нотатки..." value="{{ search_form.note_query.value }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="tagQueryInput" class="form-label">Пошук за тегом:</label>
                    <input type="text" class="form-control" id="tagQueryInput" name="tag_query"
                           placeholder="Введіть назву тега..." value="{{ search_form.tag_query.value }}">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Знайти</button>
    </form>

    <!-- Список нотаток -->
    <table class="table">
        <thead>
        <tr>
            <th>Статус</th>
            <th>Назва</th>
            <th>Теги</th>
            <th>Створено</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>
                    <form method="post" action="{% url 'notes:toggle_done' note.id %}">
                        {% csrf_token %}
                        <input type="checkbox" name="done" {% if note.done %}checked{% endif %}
                               onchange="this.form.submit()">
                        <input type="hidden" name="current_done" value="{{ note.done }}">
                    </form>
                </td>
                <td><a href="{% url 'notes:note_detail' note.id %}">{{ note.name }}</a></td>
                <td>
                    {% for tag in note.tags.all %}
                        <span>{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <!-- Форматування дати та часу -->
                <td>{{ note.created|date:"d-m-Y H:i" }}</td>
                <td>
                    <a href="{% url 'notes:note_edit' note.id %}" class="btn btn-primary btn-sm me-2">Змінити</a>
                    <a href="{% url 'notes:note_delete' note.id %}" class="btn btn-danger btn-sm">Видалити</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Посилання на створення нової нотатки -->
    <a href="{% url 'notes:note_create' %}" class="btn btn-primary mt-3">Створити нову нотатку</a>

    <!-- Список доступних тегів і кнопка для переходу на сторінку з тегами -->
    <div class="mt-3">
        <h2>Доступні теги</h2>
        <ul>
            {% for tag in all_tags %}
                {% if tag.owner.pk == request.user.pk %}
                    <li><a href="{% url 'notes:note_list' %}?tag_query={{ tag.name }}">{{ tag.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="{% url 'notes:tag_list' %}" class="btn btn-secondary">Список тегів</a>
    </div>
{% endblock content %}