{% extends '_layouts/base.html' %}


{% block content %}
{% load static %}

{% include '_fragments/command_navbar.html' %}

<div class="card">
    <div class="card-header">
        <div class="card-title">List of tags</div>
        <div class="d-flex">
            <button id="addButton" class="btn btn-sm nav-link" style="width: 150px;">Add Tag</button>
            <button id="listnotes" class="btn btn-sm nav-link" style="width: 150px;">List of Note</button>
        </div>
    </div>
    <div class="card-body  d-flex justify-content-center ">
        <div class="table-responsive">
            <table id="highlightRowColumn" class="table custom-table">
                <thead>
                    <tr>
                        <th>Tag name</th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                    <tr>
                        <td><span style="color: rgb(0, 0, 0);">{{ tag.name }}</span></td>
                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'notes:tag_edit' pk=tag.pk %}" class="btn btn-icon btn-sm btn-unstyled"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip-primary" data-bs-title="Edit">
                                    <i class="bi bi-pencil text-success"></i>
                                </a>
                                <form method="post" action="{% url 'notes:tag_delete' pk=tag.pk %}"
                                    style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm ml-2">Deleted</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>


<script>
    document.getElementById('editButton').addEventListener('click', function () {
        var editUrl = 'edit_page.html';
        window.location.href = editUrl;
    });


</script>


<script>
    document.getElementById('addButton').addEventListener('click', function () {
        var addUrl = "{% url 'notes:tag_create' %}";
        window.location.href = addUrl;
    });

    document.getElementById('addButton').addEventListener('mouseenter', function () {
        this.style.backgroundColor = 'lightblue';
    });

    document.getElementById('addButton').addEventListener('mouseleave', function () {
        this.style.backgroundColor = '';
    });



    document.getElementById('listnotes').addEventListener('click', function () {
        var addUrl = '{% url "notes:note_list" %}';
        window.location.href = addUrl;
    });

    document.getElementById('listnotes').addEventListener('mouseenter', function () {
        this.style.backgroundColor = 'lightblue';
    });

    document.getElementById('listnotes').addEventListener('mouseleave', function () {
        this.style.backgroundColor = '';
    });

</script>

{% endblock content %}