{% extends '_layouts/base.html' %}

{% block title %}
{% if tag.id %}
Редагувати тег
{% else %}
Створити новий тег
{% endif %}
{% endblock title %}

{% block content %}

{% include '_fragments/command_navbar.html' %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 mx-auto" style="max-width: 600px;">
            <div class="bg-light rounded h-100 p-4">
                <h6>
                    {% if tag.id %}
                    Edit tag
                    {% else %}
                    Create a new tag
                    {% endif %}
                </h6>
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="id_name" class="col-sm-3 col-form-label">Name:</label>
                                <div class="col-sm-9">
                                    {{ form.name }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="{% url 'notes:tag_list' %}" class="btn btn-secondary mt-3">Undo and go back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}