{% extends '_layouts/base.html' %}

{% load static %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Access to the contact database</h1>
                    <nav aria-label="breadcrumb">
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="{% url 'home:home' %}" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>FoxBot</h3>
                        </a>
                        <h3>Sign In</h3>
                    </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                {{ form.username }}
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-4">
                                {{ form.password }}
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <a href="">Forgot Password</a>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                            <p class="text-center mb-0">Don't have an Account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
                        </form>    
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->


{% endblock %}