{% load static %}
<div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{% static 'img/about-img.jpg' %}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
<!--                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>-->
                    <h1 class="mb-4">FoxBot мій функціонал такий:</h1>
<!--                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam-->
<!--                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus-->
<!--                        clita duo justo et tempor eirmod magna dolore erat amet</p>-->
                    <p class="mb-4">Вмію зберігати контакти до книги контактів:</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>з іменами</h6>
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>з адресами</h6>
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>з email</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>з номерами телефонів</h6>
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>з днями народження</h6>
                        </div>
                    </div>
                    <p class="mb-4">Вмію виводити список контактів, у яких день народження через задану кількість днів від поточної дати.</p>
                    <p class="mb-4">Вмію перевіряти правильність введеного номера телефону та email під час створення або редагування запису та повідомляти користувача у разі некоректного введення.</p>
                    <p class="mb-4">Вмію здійснювати пошук контактів серед контактів книги.</p>
                    <p class="mb-4">Вмію редагувати та видаляти записи з книги контактів.</p>
                    <p class="mb-4">Вмію зберігати нотатки з текстовою інформацією:</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>редагувати записи з книги</h6>
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>проводити пошук за нотаткам</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>видаляти записи з книги контактів</h6>
                        </div>
                    </div>
                    <p class="mb-4">Вмію додавати в нотатки "теги", ключові слова, що описують тему та предмет запису.</p>
                    <p class="mb-4">Вмію здійснювати пошук та сортування нотаток за ключовими словами (тегами).</p>
                    <p class="mb-4">Головне, вмію сортувати файли у зазначеній папці за категоріями:</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>за зображенням</h6>
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>за документами</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>за відео файлами</h6>
                        </div>
                    </div>


<!--                    <div class="d-flex align-items-center mt-4">-->
<!--                        <a class="btn btn-primary rounded-pill px-4 me-3" href="">Read More</a>-->
<!--                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>-->
<!--                        <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
