{% load static %}
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn mx-auto" data-wow-delay="0.1s" style="max-width: 800px;">
<!--                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Case Study</div>-->
                <h1 class="mb-4">Доступні команди FoxBot</h1>
            </div>
            <div class="row g-3" >

               <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 3%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/add_2.jpg' %}" data-fancybox="add_contact" data-caption="Add contact">
                            <img class="img-fluid" src="{% static 'img/project-1.jpg' %}" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/add_1.jpg' %}" data-fancybox="add_contact" data-caption="Add contact">
                            <small style="font-size: 1.4em ;">Add</small>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Add Name</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Add Phone</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Add Email</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Add Address</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Add Birthday</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Add Notes</h5>



                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/search_2.jpg' %}" data-fancybox="search_contact" data-caption="Search contact">
                            <img class="img-fluid" src="{% static 'img/project-3.jpg' %}" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/search_1.jpg' %}" data-fancybox="search_contact" data-caption="Search contact">
                            <small style="font-size: 1.4em;">Search All</small>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>


                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/change_2.jpg' %}" data-fancybox="change_contact" data-caption="Change contact - контакт змінено">
                            <img class="img-fluid" src="{% static 'img/project-2.jpg' %}" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/change_1.jpg' %}" data-fancybox="change_contact" data-caption="Change contact">
                            <small style="font-size: 1.4em;">Change</small>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Change Name</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Change Phone</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Change Email</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Change Address</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Change Birthday</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Change Note</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/delete_2.jpg' %}" data-fancybox="delete_contact" data-caption="Delete contact - контакт змінено">
                            <img class="img-fluid" src="{% static 'img/project-4.jpg' %}" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/delete_1.jpg' %}" data-fancybox="delete_contact" data-caption="Delete contact">
                            <small style="font-size: 1.4em;">Delete</small>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Delete Contact</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Delete Phone</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Delete Email</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <a href="{% static 'img/comand/sorting_2.jpg' %}" data-fancybox="sorting" data-caption="Sorting files">
                            <img class="img-fluid" src="{% static 'img/project-8.jpg' %}" alt="" style="width: 100%; height: 200px; object-fit: cover;">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/sorting_1.jpg' %}" data-fancybox="sorting" data-caption="Sorting files">
                            <small style="font-size: 1.4em;">Sorting Files</small>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Path for Sorting</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <a href="{% static 'img/comand/birthday_2.jpg' %}" data-fancybox="birthday" data-caption="Birthday Contacts">
                            <img class="img-fluid" src="{% static 'img/project-9.jpg' %}" alt="" style="width: 100%; height: 200px; object-fit: cover;">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/birthday_1.jpg' %}" data-fancybox="birthday" data-caption="Birthday Contacts">
                            <small style="font-size: 1.4em;">Birthday Contact</small>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">. Enter № days</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                            <h5 class="lh-base text-white mb-1" style="margin-bottom: 2px;">.</h5>
                        </a>
                    </div>
                </div>



            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>