{% load static %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
        <!-- Minfin.com.ua nbu informer 100x42 grey-->
        <div id="minfin-informer-m1Fn-nbu">Завантажуємо <a href="https://minfin.com.ua/ua/currency/" target="_blank">курси валют</a> від minfin.com.ua</a></div><script>var iframe = '<ifra'+'me width="100" height="42" fram'+'eborder="0" src="https://informer.minfin.com.ua/ua/gen/nbu/?color=grey" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:100px;height:42px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-nbu';document.getElementById(cl).innerHTML = iframe; </script><noscript><img src="https://informer.minfin.com.ua/gen/img.png" width="1" height="1" alt="minfin.com.ua: курси валют" title="Курс валют" border="0" /></noscript>
        <!-- Minfin.com.ua nbu informer 100x42 grey-->
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-file me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Download Files</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="{% url 'comander:download' %}" class="dropdown-item">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <h6 class="fw-normal mb-0">Sending</h6>
                        </div>
                    </div>
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'comander:view_file' %}" class="dropdown-item">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <h6 class="fw-normal mb-0">View</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-file me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Sorting Files</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="" alt="" style="width: 40px; height: 40px;">
                        <div class="ms-2">
                            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                            <small>15 minutes ago</small>
                        </div>
                    </div>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="" alt="" style="width: 40px; height: 40px;">
                        <div class="ms-2">
                            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                            <small>15 minutes ago</small>
                        </div>
                    </div>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="" alt="" style="width: 40px; height: 40px;">
                        <div class="ms-2">
                            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                            <small>15 minutes ago</small>
                        </div>
                    </div>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item text-center">See all message</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-folder me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Command</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="{% url 'comander:add' %}" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Add</h6>
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'comander:search_all' %}" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Search All</h6>
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'comander:change' %}" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Change</h6>
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'comander:delete' %}" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Delete</h6>
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'comander:birhday_contact' %}" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Birhday Contact</h6>
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'comander:commands' %}" class="dropdown-item">All contacts</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                {% if user.photo %}
                    <img class="rounded-circle me-lg-2" src="{{ user.photo.url }}" alt="" style="width: 40px; height: 40px;">
                {% else %}
                    <img class="rounded-circle me-lg-2" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                {% endif %}
                <span class="d-none d-lg-inline-flex">{{ user.username }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="{% url 'accounts:profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'accounts:logout' %}" class="dropdown-item">Go Out</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->