{% load static %}
<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="{% url 'home:home' %}" class="d-inline-block mb-3">
                    <h1 class="text-white">20th<span class="text-primary">.</span>Century<span class="text-primary">.</span>Fox</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://goit.global/ua/">GoiT</a>, course Python Developer
                </div>
            </div>
        </div>
    </div>
</div>
