{% load static %}
<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4 animated slideInRight">Command - {{ title }}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="custom-breadcrumb mb-0 d-flex flex-wrap" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li class="custom-breadcrumb-item me-3 mb-3">
                            <a href="{% url 'comander:add' %}" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill custom-breadcrumb-link">Add</a>
                        </li>
                        <li class="custom-breadcrumb-item me-3 mb-3">
                            <a href="{% url 'comander:search_all' %}" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill custom-breadcrumb-link">Search All</a>
                        </li>
                        <li class="custom-breadcrumb-item me-3 mb-3">
                            <a href="{% url 'comander:change' %}" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill custom-breadcrumb-link">Change</a>
                        </li>
                        <li class="custom-breadcrumb-item me-3 mb-3">
                            <a href="{% url 'comander:delete' %}" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill custom-breadcrumb-link">Delete</a>
                        </li>
                        <li class="custom-breadcrumb-item me-3 mb-3">
                            <a href="{% url 'comander:sorting_files' %}" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill custom-breadcrumb-link">Sorting Files</a>
                        </li>
                        <li class="custom-breadcrumb-item mb-3">
                            <a href="{% url 'comander:birhday_contact' %}" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill custom-breadcrumb-link">Birhday Contact</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end">
                <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
