{% extends '_layouts/base.html' %}

{% load static %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Access to the contact database</h1>
                    <nav aria-label="breadcrumb">
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero2-img.png' %}" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <div class="login-container">
        <div class="login-box">
            <div class="login-form">
                <a href="{% url 'home:home' %}" class="login-logo">
                    <img src="{% static 'img/favicon.png' %}" alt="Admin Templates"/>
                </a>
                <div class="login-welcome">
                    Welcome back, <br/>Please login to your Fox.Web admin account.
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="uname">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" for="pwd">Password</label>
                            <a href="{% url 'accounts:password_reset' %}" id="pwd" class="btn-link ml-auto">Forgot
                                Password?</a>
                        </div>
                        {{ form.password }}
                    </div>
                    <div class="login-form-actions">
                        <button type="submit" class="btn"> <span class="icon"> <i class="bi bi-arrow-right-circle"></i>
                        </span>
                            Login
                        </button>
                    </div>
                    <div class="login-form-actions">
                        <button type="submit" class="btn"><img src="{% static 'images/google.svg' %}" class="login-icon"
                                                               alt="Login with Google">
                            Login with Google
                        </button>
                    </div>
                    <div class="login-form-footer">
                        <div class="additional-link">
                            Don't have an account? <a href="{% url 'accounts:signup' %}"> Signup</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<style>
/* Золотий колір при фокусі */
input:focus {
    border-color: yellow !important;
    
}







</style>
{% endblock %}