{% extends '_layouts/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6 mx-auto">
      <div class="bg-light rounded h-100 p-4">
        <h2>Password reset</h2>

        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
            <input class="form-control form-control-lg" type="email" name="{{ form.email.html_name }}" required>
            {% if form.email.errors %}
              <div class="invalid-feedback">
                {{ form.email.errors }}
              </div>
            {% endif %}
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary px-5 me-2">Request password reset</button>
            <a href="{% url 'accounts:signin' %}" class="btn btn-sm btn-primary px-5">Cancel</a>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}