{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}

{% include '_fragments/command_navbar.html' %}

{% load static %}


<div class="content-wrapper">
  <div class="row gx-3">
    <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">File List</div>
          <div class="d-flex">
            <button id="addButton" class="btn btn-sm nav-link ms-2" style="width: 150px;">Add File</button>
            <button id="addCategory" class="btn btn-sm nav-link ms-2" style="width: 150px;">Add Category</button>
            <button id="editCategory" class="btn btn-sm nav-link ms-2" style="width: 150px;">Edit Category</button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="highlightRowColumn" class="table custom-table">
              <thead>
                <tr>
                  <th>File Name</th>
                  <th>File Category</th>
                  <th>Description</th>
                  <th>Upload Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for file in files %}
                <tr>
                  <td>{{ file.original_filename }}</td>
                  <td>{{ file.category.name }}</td>
                  <td>{{ file.description|default_if_none:"-" }}</td>
                  <td>{{ file.upload_date|date:"d-m-Y H:i" }}</td>
                  <td>
                    <div class="d-flex justify-content-between align-items-center">
                      <a href="{% url 's3_storage:download' file.id %}" class="btn btn-icon btn-sm btn-unstyled"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary"
                        data-bs-title="Upload">
                        <i class="bi bi-download text-success"></i>
                      </a>
                      <a href="{% url 's3_storage:edit_file' file.id %}" class="btn btn-icon btn-sm btn-unstyled"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip-primary"
                        data-bs-title="Edit">
                        <i class="bi bi-pencil text-success"></i>
                      </a>
                      <a href="{% url 's3_storage:delete' file.id %}"
                        class="btn btn-icon btn-sm btn-unstyled btn-delete" data-bs-toggle="tooltip"
                        data-bs-placement="top" data-bs-custom-class="custom-tooltip-success" data-bs-title="Deleted">
                        <i class="bi bi-trash text-danger"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
  document.querySelectorAll('.btn-delete').forEach(function (button) {
    button.addEventListener('click', function (event) {
      event.preventDefault();
      var url = this.getAttribute('href');

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = url;
        }
      });
    });
  });
</script>

<script>
  document.getElementById('editButton').addEventListener('click', function () {
    var editUrl = 'edit_page.html';
    window.location.href = editUrl;
  });
</script>


<script>
  document.getElementById('addButton').addEventListener('click', function () {
    var addUrl = '{% url "s3_storage:upload" %}';
    window.location.href = addUrl;
  });
  document.getElementById('addButton').addEventListener('mouseenter', function () {
    this.style.backgroundColor = 'lightblue';
  });
  document.getElementById('addButton').addEventListener('mouseleave', function () {
    this.style.backgroundColor = '';
  });

  document.getElementById('addCategory').addEventListener('click', function () {
    var addCategory = '{% url "s3_storage:create_category" %}';
    window.location.href = addCategory;
  });
  document.getElementById('addCategory').addEventListener('mouseenter', function () {
    this.style.backgroundColor = 'lightblue';
  });
  document.getElementById('addCategory').addEventListener('mouseleave', function () {
    this.style.backgroundColor = '';
  });

  document.getElementById('editCategory').addEventListener('click', function () {
    var editCategory = '{% url "s3_storage:category_list" %}';
    window.location.href = editCategory;
  });
  document.getElementById('editCategory').addEventListener('mouseenter', function () {
    this.style.backgroundColor = 'lightblue';
  });
  document.getElementById('editCategory').addEventListener('mouseleave', function () {
    this.style.backgroundColor = '';
  });
</script>

{% endblock content %}