{% extends '_layouts/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6 mx-auto">
      <div class="bg-light rounded h-100 p-4">
        <h2>Enter new password</h2>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">New Password*:</label>
            <input class="form-control form-control-lg" type="password" name="new_password1" autocomplete="new-password"
              required="" id="id_new_password1" value="{{ form.password1.html_name }}">
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <p class="small mb-0">*Your password can’t be too similar to your other personal information.</p>
                <p class="small mb-0">*Your password must contain at least 8 characters.</p>
                <p class="small mb-0">*Your password can’t be a commonly used password.</p>
                <p class="small mb-0">*Your password can’t be entirely numeric.</p>
                <p class="small">Note: The above password requirements are important for your account security.</p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password:</label>
            <input class="form-control form-control-lg" type="password" name="new_password2" autocomplete="new-password"
              required="" id="id_new_password2" value="{{ form.password2.html_name }}">
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary px-5 me-2">Save new password</button>
            <a href="{% url 'accounts:signin' %}" class="btn btn-sm btn-primary px-5">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}