{% extends '_layouts/base.html' %}

{% block content %}
{% include '_fragments/HeroStart_2.html' %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="login-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="login-box">
                        <div class="login-form">
                            <a href="{% url 'home:home' %}" class="login-logo">
                                <img src="{% static 'img/favicon.png' %}" alt="FoxBot" />
                            </a>
                            <div class="login-welcome">
                                Welcome back, <br />Please create your Fox.Web admin account.
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_email">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_username">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_password1">Password</label>
                                {{ form.password1 }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_password2">Repeat Password</label>
                                {{ form.password2 }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_photo">Upload Photo</label>
                                {{ form.photo }}
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="savePassword">Save Password</label>
                                    <div class="form-check ml-auto me-0">
                                        <input class="form-check-input" type="checkbox" value="" id="savePassword">
                                        <label class="form-check-label" for="savePassword">Save Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-actions">
                                <button type="submit" class="btn"> <span class="icon"> <i
                                            class="bi bi-arrow-right-circle"></i> </span> Signup</button>
                            </div>
                            <div class="login-form-actions">
                                <button type="submit" class="btn"> <img src="{% static 'images/google.svg' %}"
                                        class="login-icon" alt="Signup using Gmail"> Signup using Gmail</button>
                            </div>
                            <div class="login-form-footer">
                                <div class="additional-link">
                                    Already have an account? <a href="{% url 'accounts:signin' %}"> Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}