{% extends '_layouts/base.html' %}

{% block content %}
    {% include '_fragments/HeroStart.html' %}
    {% include '_fragments/FullScreenSearchStart.html' %}
    {% include '_fragments/AboutStart.html' %}
<!--    {% include '_fragments/ServiceStart.html' %}-->
    {% include '_fragments/FeatureStart.html' %}
    {% include '_fragments/CaseStart.html' %}

    {% include '_fragments/NewsletterStart.html' %}
<!--    {% include '_fragments/FAQsStart.html' %}-->
    {% include '_fragments/TeamStart.html' %}
<!--    {% include '_fragments/TestimonialStart.html' %}-->
<!--  <h2>{{ title }}</h2>-->

{% endblock content %}