{% load static %}

<div class="container-fluid pt-3 bg-primary hero-header">
  <div class="container pt-3">
    <div class="row g-3 pt-3" style="min-height: 200px;">
      <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-3">
        <h1 class="display-6 text-white mb-4 animated slideInRight">Access to the Fox.Web</h1>
        <nav aria-label="breadcrumb"></nav>
      </div>
      <div class="col-lg-6 align-self-end text-center text-lg-end">
        <img class="img-fluid" src="{% static 'img/hero2-img.png' %}" alt="" style="max-height: 150px;">
      </div>
    </div>
  </div>
</div>