<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>
    <meta charset="utf-8">
    <title>Fox.Web. - {{ title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Main css Tables -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bs5.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bs5-custom.css' %}">
    <!-- Scrollbar CSS Tables -->
    <link rel="stylesheet" href="{% static 'vendor/overlay-scroll/OverlayScrollbars.min.css' %}">
    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Посилання на бібліотеку FancyBox з CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

</head>

<body>
    {% include '_fragments/SpinnerStart.html' %}
    {% include '_fragments/NavbarStart.html' %}
    {% block content %}{% endblock content %}
    {% include '_fragments/FooterStart.html' %}
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Data Tables -->
    <script src="{% static 'vendor/datatables/dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- Custom Data tables -->
    <script src="{% static 'vendor/datatables/custom/custom-datatables.js' %}"></script>

    <!-- Main Js Required -->
    <script src="{% static 'js/main-datatables.js' %}"></script>
    <!-- Date Range JS -->
    <script src="{% static 'vendor/daterange/daterange.js' %}"></script>
    <script src="{% static 'vendor/daterange/custom-daterange.js' %}"></script>
    <!-- Dropzone JS -->
    <script src="{% static 'vendor/dropzone/dropzone.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/main_tables.js' %}"></script>
    <script src="{% static 'js/main2.js' %}"></script>
</body>

</html>