{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}


{% include '_fragments/command_navbar.html' %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 mx-auto">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Upcoming birthdays</h6>
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="exampleFormControlTextarea1" rows="3">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-sm btn-primary px-5 me-2">Search</button>
                        <button type="reset" class="btn btn-sm btn-primary px-5">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}