{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}
{% include '_fragments/HeroStart_comand.html' %}

{% include '_fragments/command_navbar.html' %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">Birthday</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr onclick="redirectToUrl('{% url 'comander:change_note' %}')" class="clickable-row">
                                <th scope="row">1</th>
                                <td>John</td>
                                <td>+3050-123-456</td>
                                <td>jhon@email.com</td>
                                <td>Ukraine</td>
                                <td>03.04.1999</td>
                                <td>Member</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToUrl(url) {
        window.location.href = url;
    }
</script>

{% endblock %}